
body
{
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-image: linear-gradient(to bottom right,  #374151 80%, #1F2937 20%);

    /* background-image: linear-gradient(blue, pink); */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    


button
{
    cursor: pointer;
    outline: none;
    border: none;
    appearance: none;
    background:none;
}
button:hover
{
    opacity: 0.8;
}

/* heading starts here */
#heading_div
{
    white-space: nowrap;
    margin: 5% 5%;
    margin-bottom: 5%;
    padding: 0%;
}

#main_heading
{
    font-size: 60px;
    margin: 0;
    color: black;
    font-weight: bold;
}
/* heading ends here */




/* to do list input satrts here */
#main_div
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}
#todo_input_div
{
    display: flex;
    flex-direction: row;
}

#todo_list_input_field
{
  border-radius: 15px;
  width: 40vw;
  height: 50px;
  padding: 0% 2% 0% 2%; 
  background-color: #1F2937;
  display: flex;
  align-items: center;
}


#todo_list_input_field input
{
    outline: none;
    border: none;
    background:none;
    color: #EEE;
    flex: 1 1 0%;
}


#todo_list_input_field i
{
    margin-right: 1%;
    color: #6B7280;
}

#input_but
{
    margin-left :13px; 
    white-space: nowrap;
    padding: 0;
    font-size: 15px;
    color: rgb(252, 36, 72);
    font-weight: bold;
}
/* to do list input ends here */







/*  item list start here */
#item_list
{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.item
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:  #111827;
    height: 50px;
    border-radius: 15px;
    width: 46vw;
    padding: 0% 2% 0% 2%; 
}
.text_field
{
    flex: 1 1 0%;
}
.text
{
    color: #EEE;
    outline: none;
    border: none;
    appearance: none;
    background:none;
    width: 100%;
    
}
.text:not(:read-only)
{
    color: grey;
}

.buttons 
{
    display: flex;
} 
.buttons button
{
    font-size: 15;
}
.edit
{
    font-weight: 700;
    color: green
}
.delete
{
    color: red
}


/*  item list ends here */



/* media queries */
@media (max-width:540px) {
    #todo_list_input_field i
    {
        display: none;
    }
    #input_but
    {
        margin-left :10px; 
        font-size: 14px;
        color: rgb(252, 36, 72);
    }

    .item
    {
        width: 86vw;
    }

    #todo_list_input_field i
    {
        margin-right: 2.5%;
        color: #6B7280;
    }
    body
    {
        background-image: linear-gradient(to bottom right,  #374151 85%, #1F2937 15%);
    }
    #heading_div
    {
        white-space: nowrap;
        margin: 5% 5%;
        margin-top: 15%;
        margin-bottom: 7%;
        padding: 0%;
    }


    #main_heading
    {
        font-size: 40px;
    }

    #todo_list_input_field
    {
        margin: 0;
        border-radius: 15px;
        width: 70vw;
    }

    
}